

@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Inter&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

html, body
{
  height: 100%;
  background:#E0C858 ;
}


.header{
  width: 100%;
  max-width:100%;
  height: 160px;
  display:flex;
  background-color: #F8E8A0;
  font-size: 'Mali', cursive;
  align-items: center;
  justify-content:space-between;
  padding: 15px;
  box-sizing: border-box;
  
}
.logo
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -5px;
  margin-right: 50px;
 
}



nav a
{
    font-family: "Mali", cursive;
    font-size: 30px;
    text-align: center;
    color: #3d3939;
    text-decoration: none;
    padding: 20px;
    align-items: center;
    justify-content:space-between;
   
    
   
    
}
nav a:hover
{
   padding: 20px;
   background-color: #E0C830;
  
   border-radius: 50px;
   
}
#bodycuadro
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width:100%;
  margin-bottom: 25px;
}

#main1
{
  
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr ;
  margin: 25px;
  align-content: center;
  justify-content: center;
  overflow: scroll;
}
#subcontainer
{
  display: flex;
  flex-direction: row;
  gap:25px;
}

h1
{

grid-column: 2/3;
grid-row: 0/1;
font-family:"Mali" cursive;
color: #3d3939;
font-size: 30px;
text-align: center;

margin: 20px;

}

p
{
  grid-column: 1/4;
  grid-row: 2/3;
  font-family:"Mali", cursive;
  color: #3d3939;
  align-content: center;
  padding: 0%;
  margin:25px;
  
}
.girl
{
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left:50px;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.girls2
{
  
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 25px;
  
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.hoja
{
  
  grid-column: 3/4;
  grid-row: 3/4;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  margin:25px;
}
#main2
{
  background-color:#E0C898;
  width: 50%;
  
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  overflow: scroll;
 }


.toronto
{
  grid-column: 2/3;
  grid-row: 3/4;
  height:250px;
  width: 150px;
  
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  

}
.nieve
{
  
 height:200px ;
 width: 200px;
 grid-column: 3/4;
 grid-row: 3/4;

 box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}

#main22 a
{

font-size: 25px;
margin-top: 50px;
display: flex;

grid-row: 4/5;
justify-content: space-around;
margin-left: 150px;
}

#main3 a
{

  font-size: 25px;
  margin-top: 50px;
  display: flex;
  grid-column: 3/5;
  grid-row: 4/5;
  justify-content: space-between;
  margin-left: 80px;
  }

 #main22 a:hover
{

  font-size: 30px;
  color: #302917;

}
#main3 a:hover
{

  font-size: 30px;
  color: #302917;

}

#main2 h2
{
  font-family:"Mali", cursive;
  color: #3d3939;
  margin-top:50px;
  font-size: 30px;

  text-align: center;

}
.linkcontainer
{
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}



#main3
{
  background-color: #F8E8A0;
  width: 50%;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  overflow: scroll;
  
}
h3
{
  font-family:"Mali", cursive;
  color: #3d3939;
  margin-top:50px;
  font-size: 30px;

  text-align: center;
}
.hojascafes
{
  margin-left:50px;
  width: 400px;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.arbol
{
  width: 180px;
  align-content: center;
  margin-left: 50px;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}

.imagescontainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
  margin-top:30px;
}

#provin
{
  width:100%;
  display: grid;
  height:1900px;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
  background-color: #E0C830;
}

#prov1
{
  margin: 25px;
  background-color: #f8bcb4;
  overflow:scroll;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  display:flex;
  flex-direction: column;
}
.ardilla
{
  justify-self: center;
  align-self: center;
 height: 250px;
 width: 250px;
 box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}

#prov2
{
  background-color: aqua;
  overflow:scroll;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  margin-left:25px;
  display:flex;
  flex-direction: column;
 
}
#prov3
{
  background-color: aquamarine;
  overflow:scroll;
  display:flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.lago
{
  height: 250px;
  justify-self: center;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);

}

#prov4
{
  background-color: #c27b7b;
  overflow:scroll;
  display:flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-left: 25px;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.abeja
{ 
  height: 250px;
  justify-self: center;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);

}
#prov4 p
{
  color:#E0C830;
  font-family:"Mali", cursive;
  color: #3d3939;
  align-content: center;
  padding: 0%;
}
.tulipan
{
  height: 250px;
  width: 250px;
  justify-self: center;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);

}
#provin a
{
 justify-items: flex-start;
}
#yourcuadro
{
  width:100%;
  display: grid;
  height:1900px;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 fr)
  
}
#your1
{
  height: 350px;
  background-color: #E0C898;
  grid-column: 0/1;
  grid-row:1/2 ;
  margin-bottom: 25px;
  margin-left: 25px;
  overflow: hidden;
  
  
}
.otawa
{
  height: 250px;
  margin-left: 50px;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.hongo
{
  height: 250px;
  margin-left: 50px;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
.arboles
{
  height: 250px;
  margin-left: 50px;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
  

}

.hojaverde
{
  height: 250px;
  margin-left: 50px;
  align-self: center;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.3);
}
#your2
{
  background-color: #E0C898;
  height: 350px;
  grid-column: 0/1;
  grid-row:2/3 ;
  margin-bottom: 25px;
  margin-left: 25px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr;
 
}

#your2 a:nth-of-type(1)/*reyna*/

{
  
  margin-left: 70px;
  margin-top:70px;
  text-align:center;
  
  
  
 }

 #your2 a:nth-of-type(2) /*family*/
{
  grid-column: 3/3;

  margin-left: 55px;
  margin-top:-170px;
  text-align:center;
}
 #your2 a:nth-of-type(3)/*planeta*/
{
 text-align:center;
 grid-column: 3/3;
  margin-left: 40px;
  margin-top:-100px;
  margin-bottom: 40px;
  padding: 20px;
  
  
  
}
#your3
{
  background-color: #E0C898;
  grid-column: 0/1;
  grid-row:3/4;
  margin-bottom: 15px;
  margin-left: 25px;
  overflow: hidden;
  height: 350px;
  
}

#your4
{
  background-color: #E0C898;
  grid-column: 0/1;
  grid-row:4/5 ;
  margin-bottom: 25px;
  margin-left: 25px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr ;
  height: 350px;
}

#your4 a:nth-of-type(1)/*reyna*/

{
  
  margin-left: 70px;
  margin-top:70px;
  text-align:center;
  
  
  
 }

 #your4 a:nth-of-type(2) /*family*/
{
  grid-column: 3/3;

  margin-left: 55px;
  margin-top:-170px;
  text-align:center;
}
 #your4 a:nth-of-type(3)/*planeta*/
{
 text-align:center;
 grid-column: 3/3;
  margin-left: 40px;
  margin-top:-100px;
  margin-bottom: 40px;
  padding: 20px;
  
  
  
}

#your5
{
  background-color: #E0C898;
  grid-column: 0/1;
  grid-row:5/6 ;
  margin-bottom: 25px;
  margin-left: 25px;
  overflow: hidden;
  height: 350px;
  
}

#footer
{
  background-image: url(img/hoja2.jpg);
  background-repeat:no-repeat;
  width: 100%;
  height: 60px;
  padding: 25px 50px;
  margin-top: auto;
  display: flex;
  margin-bottom: 0%;
  justify-content: space-around;
  align-items: center;
  box-sizing:content-box;
}

footer a
{
    color: antiquewhite;
    font-size: 22px;
    font-family: "Mali", cursive;
    text-decoration:solid;
}

footer p
{
  color: antiquewhite;
  font-size: 22px;
  font-family: "Mali", cursive;
}  

footer a:hover
{
    color:#E0C830;
    font-size: 22px;
    font-family: "Mali", cursive;

   
}
footer.social img 
{ 
    padding-top: 20px;
   
}

